![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Assignment

## SQL

### Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

In [0]:
select top 1 city, len(city) as citylength
from station
where len(city) = (select min(len(city)) from station)
group by city, len(city)
order by city asc;
                                           
                                           
select top 1 city, max(len(city)) as citylength
from station
where len(city) = (select max(len(city)) from station)
group by city, len(city)
order by city asc;

### Weather Observation Station 11

Query the list of CITY names from STATION that either do not start with vowels or do not end with vowels. Your result cannot contain duplicates.

In [0]:
select distinct(city) from station where city not like '[a,e,i,o,u]%' or city not like '%[a,e,i,o,u]';

### Higher Than 75 Marks

Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [0]:
select name
from students
where marks > 75
order by right(name, 3) , id asc

### Employee Salaries

Write a query that prints a list of employee names (i.e.: the name attribute) for employees in Employee having a salary greater than 2000  per month who have been employees for less than 10 months. Sort your result by ascending employee_id.

In [0]:
select name
from employee
where salary > 2000 and months < 10
order by employee_id asc

### Weather Observation Station 4

Let N be the number of CITY entries in STATION, and let N' be the number of distinct CITY names in STATION; query the value of N - N'  from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [0]:
select (Count(city) - Count(distinct city)) from station;

## Python

### Print Function

Read an integer .

Without using any string methods, try to print the following: 123...N


Note that "..." represents the values in between.

Input Format

The first line contains an integer .

Output Format

Output the answer as explained in the task.

Sample Input 0

3
Sample Output 0

123

In [2]:
from __future__ import print_function

if __name__ == '__main__':
    n = 3
    for i in range(n):
      print(i+1, sep='', end='')

123

### String split and join

In Python, a string can be split on a delimiter.

Example:

 a = "this is a string"
 a = a.split(" ") # a is converted to a list of strings. 
 print a
['this', 'is', 'a', 'string']

Joining a string is simple:
 a = "-".join(a)
 print a
this-is-a-string 

Task 
You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen.

Input Format 
The first line contains a string consisting of space separated words.

Output Format 
Print the formatted string as explained above.

Sample Input

this is a string   
Sample Output

this-is-a-string

In [9]:
def split_and_join(line):
    # write your code here
    return("-".join(line.split()))

if __name__ == '__main__':
    line = "coder school is fun"
    result = split_and_join(line)
    print (result)

coder-school-is-fun

### sWAP cASE

You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.

For Example:

Www.HackerRank.com → wWW.hACKERrANK.COM
Pythonist 2 → pYTHONIST 2
Input Format

A single line containing a string .

Output Format

Print the modified string .

Sample Input 0

HackerRank.com presents "Pythonist 2".

In [7]:
def swap_case(s):
    s1=s.swapcase();
    return s1

if __name__ == '__main__':
    s = "cOderSchOoL"
    result = swap_case(s)
    print (result)

CoDERsCHoOl

### Loops

Task 
Read an integer N . For all non-negative integers , print N . See the sample for details.

Input Format

The first and only line contains the integer, N .

Constraints
1<= N <= 20

Output Format

Print  N lines, one corresponding to each i.

Sample Input 0

5
Sample Output 0

0
1
4
9
16

In [0]:
if __name__ == '__main__':
    n = 5
    for i in range(n):
        print(i*i)

### If - else

Read two integers from STDIN and print three lines where:

The first line contains the sum of the two numbers.
The second line contains the difference of the two numbers (first - second).
The third line contains the product of the two numbers.

In [3]:
if __name__ == '__main__':
    a = 5
    b = 3
    print(a+b)
    print(a-b)
    print(a*b)

8
2
15